@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unna', serif;
}

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: #000000;
    border-left: 1px solid #9a96e8;
}
::-webkit-scrollbar-thumb
{
    background: #848484;
}
::-webkit-scrollbar-thumb:hover
{
    --golden-puppy:hsl(0, 0%, 40%);
}
::-webkit-scrollbar-button
{
    height: 5px;
}
body
{
    background: rgb(246, 246, 246);
}
 /* navbar */
.navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 50px;
  position: relative;
  border-bottom: 1px solid #000000;
}
.logo
{
  width: 165px;
  height: 45px;
}
.toggle-button
{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.toggle-button .bar
{
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 3px 0px;
}
.nav-links
{
  list-style: none;
  display: flex;
}
.nav-links li 
{
  margin:25px;
}
.nav-links li a
{
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  transition: 0.4s ease;
}
.nav-links li a:hover
{
  color: #f30000;
}
 .newest-section
  {
    width: 1200px;
    height: auto;
    background-color: #000000;
    padding: 50px;
    margin: 20px auto;
  }
  .upper-section
  {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
  }
  .upper-section-title
  {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
    .upper-section-title:hover{
      text-decoration: underline;
      transition: 2s linear;
      cursor: alias;
  }
  .lower-section
  {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    padding: 50px;
  }
  .lower-section-item
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .lower-section-title
  {
    font-size: 3.5rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  .lower-section-text
  {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .lower-button
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learn-btn
  {
    background-color: #000000;
    border-style:groove;
    outline: none;
    border-radius: 10px;
    color: #fcfcfc;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: underline;
  }

 @media screen and (min-width: 390px) and (max-width: 991px)
{
  .navbar
  {
    padding:20px 25px ;
    background-color: #000000;
  }
  .toggle-button
  {
    display: flex;
  }
  .nav-links li a
  {
    color: wheat;
    font-size: 22px;
    text-decoration: underline;
  }
  .nav-links
  {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #000000;
    padding: 25px;
    top: 100%;
    left: 0;
  }
  .nav-links li
  {
    padding: 12px 0px;
  }
  .nav-links.active
  {
    display: block;
  }
   .newest-section
  {
    width: 300px;
  }
  .upper-section
  {
    flex-direction: column;
  }
  .upper-section-title
  {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .upper-section-title:hover{
      text-decoration: underline;
      transition: 2s linear;
  }
  .lower-section
  {
    height:300px;
    width: 300px;
  }
  .lower-section-item
  {
    flex-direction: column;
    gap: 50px;
     height:1200px;
    width: 280px;
  }
  .lower-section-title
  {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .lower-section-text
  {
    font-size: 1.1rem;
  }
   .lower-section-text:hover{
    width: 700px;
    height: 200px;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .lower-button
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learn-btn
  {
    margin-top: 30px;
    margin-left: 100px;
  }
}
 