
  @import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Unna&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruluko', sans-serif;
}

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: #000000;
    border-left: 1px solid #9a96e8;
}
::-webkit-scrollbar-thumb
{
    background: #848484;
}
::-webkit-scrollbar-thumb:hover
{
    --golden-puppy:hsl(0, 0%, 40%);
}
::-webkit-scrollbar-button
{
    height: 5px;
}
body
{
    background: rgb(246, 246, 246);
}
 /* navbar */
 .navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 50px;
  position: relative;
  border-bottom: 1px solid #000000;
}
.logo
{
  width: 165px;
  height: 45px;
}
.toggle-button
{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.toggle-button .bar
{
  width: 35px;
  height: 4px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 3px 0px;
}
.nav-links
{
  list-style: none;
  display: flex;
}
.nav-links li 
{
  margin:25px;
}
.nav-links li a
{
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  transition: 0.4s ease;
}
.nav-links li a:hover
{
  color: #f30000;
}

/* other ::content */

  .container
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .service-text
  {
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    border-bottom: 2px groove #000000;
    border-top: 2px groove #000000;
  }
  .img-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .img-1
  {
    width: 1200px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  }
  .box1
  {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 200px;   
  }
  .text-container
  {
    width: 300px;
    height: 300px;
    background-color: #000000;
    border-radius: 20px;
  }
  .services-title
  {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    border-bottom: 1px solid #fff;
  }
  .icon-box1
  {
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: #ffffff;
    width: 60px;
  }
   .fa-truck
   {
    color: #000000;
    font-size: 2.3rem;
    padding: 5px;
    text-align: center;
   }
   .desc-text
   {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
   }
.footer
{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.foot
{
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-decoration:underline;
}

 @media screen and (min-width: 390px) and (max-width: 991px)
{
  .navbar
  {
    padding:20px 25px ;
    background-color: #000000;
  }
  .toggle-button
  {
    display: flex;
  }
  .nav-links li a
  {
    color: wheat;
    font-size: 22px;
    text-decoration: underline;
  }
  .nav-links
  {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #000000;
    padding: 25px;
    top: 100%;
    left: 0;
  }
  .nav-links li
  {
    padding: 12px 0px;
  }
  .nav-links.active
  {
    display: block;
  }
    .container
  {
    flex-direction: column;
  }
  .service-text
  {
    font-size: 2.5rem;
  }
  .img-container
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .img-1
  {
    width: 400px;
    margin-bottom:100px;
    height: 150px;
  }
  .box1
  {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .text-container
  {
    height: 600px;
    
  }
  .services-title
  {
    font-size: 1.5rem;
  }
  .icon-box1
  {
    width: 40px;
    height: 30px;
    margin-top: 10px;
  }
   .fa-truck
   {
    color: #000000;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
   }
   .desc-text
   {
    font-size: 1rem;
   }
.footer
{
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 500px;
}
.foot
{
  color: #fff;
  font-size: 1.5rem;
}
}
